.button_theme_gett {
    background-color: #fbb623;
    color: #000;
}

.button_theme_gett-downdload {
    color: #000;
    background-color: transparent;
}

.logo_type_gett {
    background-image: url(./images/ios.jpg);
    background-size: cover;
}
