.only-ios, .only-android, .only-windows-phone, .only-other, .only-mobile {
    display: none;
}

.platform-ios .only-ios,
.platform-android .only-android,
.platform-windows-phone .only-windows-phone,
.platform-other .only-other {
    display: block;
}

.platform-ios .only-mobile,
.platform-android .only-mobile,
.platform-windows-phone .only-mobile {
    display: block;
}

.content {
    padding: 0 20px;
    max-width: 320px;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin-top: 20px;
}

.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    font-size: 40px;
    font-family: monospace;
}

.logo {
    display: inline-block;
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

.logo_type_taxi4people {
    background-image: url(./images/taxi4people.png);
    background-size: cover;
}

.logo_mask {
    position: relative;
}

.logo_mask::after {
    content: '';

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    background-image: url(../common/images/mask175.png);
    background-size: cover;
}


.button {
    display: table;
    height: 50px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    margin: 20px 0;

    text-decoration: none;
    text-align: center;
    color: #fff;

    font-family: Arial,sans-serif;
    font-size: 18px;

    box-sizing: border-box;
    border-radius: 4px;
}

.button_theme_downdload {
    color: #000;
    background-color: transparent;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.button_badge {
    height: 70px;
    background-color: transparent;
    margin: 0;
    text-align: center;
}

.button__text {
    display: table-cell;
    vertical-align: middle;
}

.button__badge {
    height: 100%;
}

.button__badge_with-padding {
    padding: 10px;
    box-sizing: border-box;
}
