.button {
    text-transform: uppercase;
    font-size: 15px;
    font-family: ff-clan-web-pro-wide,sans-serif;
    font-weight: 400;
}

.button_theme_uber {
    background-color: #1eacc7;
}

.button_theme_downdload-uber {
    color: #1eacc7;
    background-color: transparent;
    border: 1px solid #1eacc7;
}

.logo_type_uber {
    background-image: url(./images/ios.jpg);
    background-size: cover;
}
